.about {
    background: #f8f9fa;
    padding: 20px;
}

.about h1,
.about h3,
.about p {
    color: #333;
    text-align: center;
}

.aboutImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 20px;
}