.cart {
    background-color: #f0f0f0;
    padding: 20px;
}

.cart h1 {
    color: #333;
    text-align: center;
}

.pic1 {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cartImage {
    width: 200px;
    border-radius: 40px;
}