.home {
    background-color: #f0f0f0;
    padding: 20px;
}

.home h1 {
    color: #333;
    text-align: center;
}

.pic1 {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 20px;
    text-align: center;
}

.homeImage {
    width: 100px;
}